<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List of Delivery Drivers</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>List of Delivery Drivers</title>
	<style>
		.navbar {
			border-radius: 15px;
			/* Adjust the value as needed */
		}
	</style>
</head>

<body>
	<div class="container mt-4">
		<h2 class="mb-4">List of Delivery Drivers</h2>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="#">
				<img th:src="@{/images/navbar-image.jpg}" width="50" height="50" class="d-inline-block" alt="">
				Food Delivery Service</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/restaurant}">Restaurants</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/order}">Orders</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customer}">Customers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/driver}">Drivers</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="d-flex justify-content-between mb-4">
			<!-- Search Form -->
			<form class="form-inline" th:action="@{/driver/search}" method="get">
				<div class="form-group mr-2">
					<input type="text" class="form-control" name="id" placeholder="Enter Delivery Driver ID">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<div class="alert alert-danger" th:if="${error != null}">
			<span th:text="${error}"></span><br>
		</div>
		<div class="alert alert-success" th:if="${deliveryDriver != null}">
			<strong>Driver Location Updated Successfully!</strong><br>
			<strong>Driver ID:</strong> <span th:text="${deliveryDriver.driverId}"></span><br>
			<strong>Driver Name:</strong> <span th:text="${deliveryDriver.name}"></span><br>
			<strong>Driver Phone:</strong> <span th:text="${deliveryDriver.phone}"></span><br>
			<strong>Driver Vehicle:</strong> <span th:text="${deliveryDriver.vehicle}"></span><br>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Driver ID</th>
				<th>Driver Name</th>
				<th>Driver Phone</th>
				<th>Driver Vehicle</th>
				<th>Actions</th>
			</tr>
			<tr th:each="driver : ${deliveryDrivers}">
				<td th:text="${driver.driverId}"></td>
				<td th:text="${driver.name}"></td>
				<td th:text="${driver.phone}"></td>
				<td th:text="${driver.vehicle}"></td>
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-primary btn-sm"
							th:href="@{/driver/setDriverDeliveryLocation(driverId=${driver.driverId})}">Set Delivery
							Location</a>
						<a class="btn btn-info btn-sm ml-2"
							th:href="@{/driver/showDriverOrders(driverId=${driver.driverId})}">Orders</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>